<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029812416722-in81k1042rkii7tp6hfngh4oqht4o1v4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029812416722-in81k1042rkii7tp6hfngh4oqht4o1v4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1029812416722-bkp3j4u5anpogai2dkhtman1i5utsqhq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaN6jgdTaO-YRhR9ZyPL5DEr0LbiI7OJo</string>
	<key>GCM_SENDER_ID</key>
	<string>1029812416722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chenyifaer.homingpigeon</string>
	<key>PROJECT_ID</key>
	<string>homing-pigeon-ebf6a</string>
	<key>STORAGE_BUCKET</key>
	<string>homing-pigeon-ebf6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029812416722:ios:4b8b297bcaccc0927e3d0b</string>
</dict>
</plist>