name: Test

on:
  pull_request:
    paths-ignore:
      - 'node/**'
      - 'LICENSE'
      - 'README.md'
      - 'Makefile'
    branches:
      - main
  push:
    paths-ignore:
      - 'node/**'
      - 'LICENSE'
      - 'README.md'
      - 'Makefile'
    branches:
      - main

# Declare default permissions as read only.
permissions: read-all

jobs:
  internal_apk:
    name: Create apk (internal)
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: "17.x"
          distribution: 'temurin'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.19.5'

      - name: Configure .env
        run: |
          echo "$ENV_KEY" | base64 --decode > .env
        env:
          ENV_KEY: ${{ secrets.DEV_INTERNAL_ENV_KEY }}

      - name: Flutter doctor -v
        run: flutter doctor -v

      - name: Install Deps
        run: flutter pub get

      - name: Configure Keystore for Android
        run: |
          echo "$PLAY_STORE_UPLOAD_KEY" | base64 --decode > app/upload-keystore.jks
          echo "storeFile=upload-keystore.jks" >> key.properties
          echo "keyAlias=$KEYSTORE_KEY_ALIAS" >> key.properties
          echo "storePassword=$KEYSTORE_STORE_PASSWORD" >> key.properties
          echo "keyPassword=$KEYSTORE_KEY_PASSWORD" >> key.properties
        env:
          PLAY_STORE_UPLOAD_KEY: ${{ secrets.PLAY_STORE_UPLOAD_KEY }}
          KEYSTORE_KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          KEYSTORE_KEY_PASSWORD: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
          KEYSTORE_STORE_PASSWORD: ${{ secrets.KEYSTORE_STORE_PASSWORD }}
        working-directory: android

      - name: Build Apk
        run: flutter build apk --no-tree-shake-icons --flavor internalProduction --target lib/main_internal.dart

      # Package the build.
      - name: Copy build for Android
        run: cp *.apk $GITHUB_WORKSPACE/
        working-directory: build/app/outputs/flutter-apk

      - name: Clean up
        if: ${{ always() }}
        run: |
          rm -f android/app/upload-keystore.jks
          rm -f android/key.properties
          rm -f .env

  external_apk:
    name: Create apk (external)
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: "17.x"
          distribution: 'temurin'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.19.5'

      - name: Configure .env
        run: |
          echo "$ENV_KEY" | base64 --decode > .env
        env:
          ENV_KEY: ${{ secrets.DEV_EXTERNAL_ENV_KEY }}

      - name: Flutter doctor -v
        run: flutter doctor -v

      - name: Install Deps
        run: flutter pub get

      - name: Configure Keystore for Android
        run: |
          echo "$PLAY_STORE_UPLOAD_KEY" | base64 --decode > app/upload-keystore.jks
          echo "storeFile=upload-keystore.jks" >> key.properties
          echo "keyAlias=$KEYSTORE_KEY_ALIAS" >> key.properties
          echo "storePassword=$KEYSTORE_STORE_PASSWORD" >> key.properties
          echo "keyPassword=$KEYSTORE_KEY_PASSWORD" >> key.properties
        env:
          PLAY_STORE_UPLOAD_KEY: ${{ secrets.PLAY_STORE_UPLOAD_KEY }}
          KEYSTORE_KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          KEYSTORE_KEY_PASSWORD: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
          KEYSTORE_STORE_PASSWORD: ${{ secrets.KEYSTORE_STORE_PASSWORD }}
        working-directory: android

      - name: Build Apk
        run: flutter build apk --no-tree-shake-icons --flavor externalProduction --target lib/main_external.dart

      # Package the build.
      - name: Copy build for Android
        run: cp *.apk $GITHUB_WORKSPACE/
        working-directory: build/app/outputs/flutter-apk

      - name: Clean up
        if: ${{ always() }}
        run: |
          rm -f android/app/upload-keystore.jks
          rm -f android/key.properties
          rm -f .env

#  internal_aab:
#    name: Create appbundle (internal)
#    runs-on: self-hosted
#    steps:
#      - uses: actions/checkout@v4
#      - uses: actions/setup-java@v4
#        with:
#          java-version: "17.x"
#          distribution: 'temurin'
#
#      - name: Setup Flutter
#        uses: subosito/flutter-action@v2
#        with:
#          channel: 'stable'
#          flutter-version: '3.19.5'
#
#      - name: Configure .env
#        run: |
#          echo "$ENV_KEY" | base64 --decode > .env
#        env:
#          ENV_KEY: ${{ secrets.DEV_INTERNAL_ENV_KEY }}
#
#      - name: Flutter doctor -v
#        run: flutter doctor -v
#
#      - name: Install Deps
#        run: flutter pub get
#
#      - name: Configure Keystore for Android
#        run: |
#          echo "$PLAY_STORE_UPLOAD_KEY" | base64 --decode > app/upload-keystore.jks
#          echo "storeFile=upload-keystore.jks" >> key.properties
#          echo "keyAlias=$KEYSTORE_KEY_ALIAS" >> key.properties
#          echo "storePassword=$KEYSTORE_STORE_PASSWORD" >> key.properties
#          echo "keyPassword=$KEYSTORE_KEY_PASSWORD" >> key.properties
#        env:
#          PLAY_STORE_UPLOAD_KEY: ${{ secrets.PLAY_STORE_UPLOAD_KEY }}
#          KEYSTORE_KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
#          KEYSTORE_KEY_PASSWORD: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
#          KEYSTORE_STORE_PASSWORD: ${{ secrets.KEYSTORE_STORE_PASSWORD }}
#        working-directory: android
#
#      - name: Build Appbundle
#        run: flutter build appbundle --no-tree-shake-icons --flavor internalProduction --target lib/main_internal.dart
#
#      # Package the build.
#      - name: Copy build for Android
#        run: cp *.aab $GITHUB_WORKSPACE/
#        working-directory: build/app/outputs/bundle/internalProductionRelease
#
#      - name: Clean up
#        if: ${{ always() }}
#        run: |
#          rm -f android/app/upload-keystore.jks
#          rm -f android/key.properties
#          rm -f .env

#  external_aab:
#    name: Create appbundle (external)
#    runs-on: self-hosted
#    steps:
#      - uses: actions/checkout@v4
#      - uses: actions/setup-java@v4
#        with:
#          java-version: "17.x"
#          distribution: 'temurin'
#
#      - name: Setup Flutter
#        uses: subosito/flutter-action@v2
#        with:
#          channel: 'stable'
#          flutter-version: '3.19.5'
#
#      - name: Configure .env
#        run: |
#          echo "$ENV_KEY" | base64 --decode > .env
#        env:
#          ENV_KEY: ${{ secrets.DEV_EXTERNAL_ENV_KEY }}
#
#      - name: Flutter doctor -v
#        run: flutter doctor -v
#
#      - name: Install Deps
#        run: flutter pub get
#
#      - name: Configure Keystore for Android
#        run: |
#          echo "$PLAY_STORE_UPLOAD_KEY" | base64 --decode > app/upload-keystore.jks
#          echo "storeFile=upload-keystore.jks" >> key.properties
#          echo "keyAlias=$KEYSTORE_KEY_ALIAS" >> key.properties
#          echo "storePassword=$KEYSTORE_STORE_PASSWORD" >> key.properties
#          echo "keyPassword=$KEYSTORE_KEY_PASSWORD" >> key.properties
#        env:
#          PLAY_STORE_UPLOAD_KEY: ${{ secrets.PLAY_STORE_UPLOAD_KEY }}
#          KEYSTORE_KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
#          KEYSTORE_KEY_PASSWORD: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
#          KEYSTORE_STORE_PASSWORD: ${{ secrets.KEYSTORE_STORE_PASSWORD }}
#        working-directory: android
#
#      - name: Build Appbundle
#        run: flutter build appbundle --no-tree-shake-icons --flavor externalProduction --target lib/main_external.dart
#
#      # Package the build.
#      - name: Copy build for Android
#        run: cp *.aab $GITHUB_WORKSPACE/
#        working-directory: build/app/outputs/bundle/externalProductionRelease
#
#      - name: Clean up
#        if: ${{ always() }}
#        run: |
#          rm -f android/app/upload-keystore.jks
#          rm -f android/key.properties
#          rm -f .env

  internal_ios:
    name: Create ios (internal)
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.19.5'

      - name: Configure .env
        run: |
          echo "$ENV_KEY" | base64 --decode > .env
        env:
          ENV_KEY: ${{ secrets.DEV_INTERNAL_ENV_KEY }}

      - name: Flutter doctor -v
        run: flutter doctor -v

      - name: Resolving flutter dependencies
        run: flutter pub get

      - name: Resolving ios dependencies
        run: cd ios && pod install --repo-update && cd ..

      - name: Install the Apple certificate and provisioning profile
        env:
          CERT_BASE64: ${{ secrets.CERT_BASE64 }}
          CERT_DEV_BASE64: ${{ secrets.CERT_DEV_BASE64 }}
          P12_BASE64: ${{ secrets.P12_BASE64 }}
          P12_DEV_BASE64: ${{ secrets.P12_DEV_BASE64 }}
          P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
          INTERNAL_PROVISION_PROFILE_BASE64: ${{ secrets.INTERNAL_PROVISION_PROFILE_BASE64 }}
          INTERNAL_PROVISION_PROFILE_DEV_BASE64: ${{ secrets.INTERNAL_PROVISION_PROFILE_DEV_BASE64 }}
          EXTERNAL_PROVISION_PROFILE_BASE64: ${{ secrets.EXTERNAL_PROVISION_PROFILE_BASE64 }}
          EXTERNAL_PROVISION_PROFILE_DEV_BASE64: ${{ secrets.EXTERNAL_PROVISION_PROFILE_DEV_BASE64 }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
          # create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          CERTIFICATE_DEV_PATH=$RUNNER_TEMP/build_certificate_dev.p12
          CERT_PATH=$RUNNER_TEMP/ios_distribution.cer
          CERT_DEV_PATH=$RUNNER_TEMP/development.cer
          INTERNAL_PP_PATH=$RUNNER_TEMP/homing_pigeon_internal_appstore.mobileprovision
          INTERNAL_PP_DEV_PATH=$RUNNER_TEMP/homing_pigeon_internal_dev.mobileprovision
          EXTERNAL_PP_PATH=$RUNNER_TEMP/homing_pigeon_appstore.mobileprovision
          EXTERNAL_PP_DEV_PATH=$RUNNER_TEMP/homing_pigeon_dev.mobileprovision
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

          # import certificate and provisioning profile from secrets
          echo -n "$P12_BASE64" | base64 --decode --output $CERTIFICATE_PATH
          echo -n "$P12_DEV_BASE64" | base64 --decode --output $CERTIFICATE_DEV_PATH
          echo -n "$CERT_BASE64" | base64 --decode --output $CERT_PATH
          echo -n "$CERT_DEV_BASE64" | base64 --decode --output $CERT_DEV_PATH
          echo -n "$INTERNAL_PROVISION_PROFILE_BASE64" | base64 --decode --output $INTERNAL_PP_PATH
          echo -n "$INTERNAL_PROVISION_PROFILE_DEV_BASE64" | base64 --decode --output $INTERNAL_PP_DEV_PATH
          echo -n "$EXTERNAL_PROVISION_PROFILE_BASE64" | base64 --decode --output $EXTERNAL_PP_PATH
          echo -n "$EXTERNAL_PROVISION_PROFILE_DEV_BASE64" | base64 --decode --output $EXTERNAL_PP_DEV_PATH

          # create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

          # import certificate to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security import $CERTIFICATE_DEV_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security import $CERT_PATH -P "$P12_PASSWORD" -A -t cert -k $KEYCHAIN_PATH
          security import $CERT_DEV_PATH -P "$P12_PASSWORD" -A -t cert -k $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

          # apply provisioning profile
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          mv $INTERNAL_PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles
          mv $INTERNAL_PP_DEV_PATH ~/Library/MobileDevice/Provisioning\ Profiles
          mv $EXTERNAL_PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles
          mv $EXTERNAL_PP_DEV_PATH ~/Library/MobileDevice/Provisioning\ Profiles

      - name: Build Ipa
        run: |
          echo "╠ Removing build products and intermediate files from the build root..."
          cd ios && xcodebuild clean && cd ..
          echo "╠ Releasing to app store..."
          flutter build ipa --flavor internal --target lib/main_internal.dart --export-options-plist=ios/ExportOptions-internal-release.plist

      # Package the build.
      - name: Copy build for iOS
        run: cp *.ipa $GITHUB_WORKSPACE/Homing\ Pigeon-internal.ipa
        working-directory: build/ios/ipa

      - name: Clean up
        if: ${{ always() }}
        run: |
          if [ -f "$RUNNER_TEMP/app-signing.keychain-db" ]; then
            echo "$RUNNER_TEMP/app-signing.keychain-db"
            security delete-keychain $RUNNER_TEMP/app-signing.keychain-db
          fi
          rm -f ~/Library/MobileDevice/Provisioning\ Profiles/*.mobileprovision
          rm -f .env

  external_ios:
    name: Create ios (external)
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.19.5'

      - name: Configure .env
        run: |
          echo "$ENV_KEY" | base64 --decode > .env
        env:
          ENV_KEY: ${{ secrets.DEV_EXTERNAL_ENV_KEY }}

      - name: Flutter doctor -v
        run: flutter doctor -v

      - name: Resolving flutter dependencies
        run: flutter pub get

      - name: Resolving ios dependencies
        run: cd ios && pod install --repo-update && cd ..

      - name: Install the Apple certificate and provisioning profile
        env:
          CERT_BASE64: ${{ secrets.CERT_BASE64 }}
          CERT_DEV_BASE64: ${{ secrets.CERT_DEV_BASE64 }}
          P12_BASE64: ${{ secrets.P12_BASE64 }}
          P12_DEV_BASE64: ${{ secrets.P12_DEV_BASE64 }}
          P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
          INTERNAL_PROVISION_PROFILE_BASE64: ${{ secrets.INTERNAL_PROVISION_PROFILE_BASE64 }}
          INTERNAL_PROVISION_PROFILE_DEV_BASE64: ${{ secrets.INTERNAL_PROVISION_PROFILE_DEV_BASE64 }}
          EXTERNAL_PROVISION_PROFILE_BASE64: ${{ secrets.EXTERNAL_PROVISION_PROFILE_BASE64 }}
          EXTERNAL_PROVISION_PROFILE_DEV_BASE64: ${{ secrets.EXTERNAL_PROVISION_PROFILE_DEV_BASE64 }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
          # create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          CERTIFICATE_DEV_PATH=$RUNNER_TEMP/build_certificate_dev.p12
          CERT_PATH=$RUNNER_TEMP/ios_distribution.cer
          CERT_DEV_PATH=$RUNNER_TEMP/development.cer
          INTERNAL_PP_PATH=$RUNNER_TEMP/homing_pigeon_internal_appstore.mobileprovision
          INTERNAL_PP_DEV_PATH=$RUNNER_TEMP/homing_pigeon_internal_dev.mobileprovision
          EXTERNAL_PP_PATH=$RUNNER_TEMP/homing_pigeon_appstore.mobileprovision
          EXTERNAL_PP_DEV_PATH=$RUNNER_TEMP/homing_pigeon_dev.mobileprovision
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

          # import certificate and provisioning profile from secrets
          echo -n "$P12_BASE64" | base64 --decode --output $CERTIFICATE_PATH
          echo -n "$P12_DEV_BASE64" | base64 --decode --output $CERTIFICATE_DEV_PATH
          echo -n "$CERT_BASE64" | base64 --decode --output $CERT_PATH
          echo -n "$CERT_DEV_BASE64" | base64 --decode --output $CERT_DEV_PATH
          echo -n "$INTERNAL_PROVISION_PROFILE_BASE64" | base64 --decode --output $INTERNAL_PP_PATH
          echo -n "$INTERNAL_PROVISION_PROFILE_DEV_BASE64" | base64 --decode --output $INTERNAL_PP_DEV_PATH
          echo -n "$EXTERNAL_PROVISION_PROFILE_BASE64" | base64 --decode --output $EXTERNAL_PP_PATH
          echo -n "$EXTERNAL_PROVISION_PROFILE_DEV_BASE64" | base64 --decode --output $EXTERNAL_PP_DEV_PATH

          # create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

          # import certificate to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security import $CERTIFICATE_DEV_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security import $CERT_PATH -P "$P12_PASSWORD" -A -t cert -k $KEYCHAIN_PATH
          security import $CERT_DEV_PATH -P "$P12_PASSWORD" -A -t cert -k $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

          # apply provisioning profile
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          mv $INTERNAL_PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles
          mv $INTERNAL_PP_DEV_PATH ~/Library/MobileDevice/Provisioning\ Profiles
          mv $EXTERNAL_PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles
          mv $EXTERNAL_PP_DEV_PATH ~/Library/MobileDevice/Provisioning\ Profiles

      - name: Build Ipa
        run: |
          echo "╠ Removing build products and intermediate files from the build root..."
          cd ios && xcodebuild clean && cd ..
          echo "╠ Releasing to app store..."
          flutter build ipa --flavor external --target lib/main_external.dart --export-options-plist=ios/ExportOptions-external-release.plist

      # Package the build.
      - name: Copy build for iOS
        run: cp *.ipa $GITHUB_WORKSPACE/Homing\ Pigeon-external.ipa
        working-directory: build/ios/ipa

      - name: Clean up
        if: ${{ always() }}
        run: |
          if [ -f "$RUNNER_TEMP/app-signing.keychain-db" ]; then
            echo "$RUNNER_TEMP/app-signing.keychain-db"
            security delete-keychain $RUNNER_TEMP/app-signing.keychain-db
          fi
          rm -f ~/Library/MobileDevice/Provisioning\ Profiles/*.mobileprovision
          rm -f .env
